:root {
  /* -------------- SUBATOMIC PARTICLES -------------- */

  /* -------------- COLOURS -------------- */

  --fjorm-color-black: #000;
  --fjorm-color-white: #fff;

  /* Grays */
  --fjorm-color-gray-100: #f3f5f5;
  --fjorm-color-gray-150: #dbe1e1;
  --fjorm-color-gray-200: #dbe1e1;
  --fjorm-color-gray-300: #c3cdcd;
  --fjorm-color-gray-400: #9fafaf;
  --fjorm-color-gray-500: #93a5a5;
  --fjorm-color-gray-600: #879b9b;
  --fjorm-color-gray-700: #6c7c7c;
  --fjorm-color-gray-800: #444e4e;
  --fjorm-color-gray-900: #292f2f;

  /* Reds */
  --fjorm-color-red-100: #fff5f5;
  --fjorm-color-red-200: #fed7d7;
  --fjorm-color-red-300: #feb2b2;
  --fjorm-color-red-400: #fc8181;
  --fjorm-color-red-500: #f56565;
  --fjorm-color-red-600: #e53e3e;
  --fjorm-color-red-700: #c53030;
  --fjorm-color-red-800: #9b2c2c;
  --fjorm-color-red-900: #742a2a;

  /* Oranges */
  --fjorm-color-orange-100: #fffaf0;
  --fjorm-color-orange-200: #feebc8;
  --fjorm-color-orange-300: #fbd38d;
  --fjorm-color-orange-400: #f6ad55;
  --fjorm-color-orange-500: #ed8936;
  --fjorm-color-orange-600: #dd6b20;
  --fjorm-color-orange-700: #c05621;
  --fjorm-color-orange-800: #9c4221;
  --fjorm-color-orange-900: #7b341e;

  /* Yellows */
  --fjorm-color-yellow-100: #fffff0;
  --fjorm-color-yellow-200: #fefcbf;
  --fjorm-color-yellow-300: #faf089;
  --fjorm-color-yellow-400: #f6e05e;
  --fjorm-color-yellow-500: #ecc94b;
  --fjorm-color-yellow-600: #d69e2e;
  --fjorm-color-yellow-700: #b7791f;
  --fjorm-color-yellow-800: #975a16;
  --fjorm-color-yellow-900: #744210;

  /* Greens */
  --fjorm-color-green-100: #f0fff4;
  --fjorm-color-green-200: #c6f6d5;
  --fjorm-color-green-300: #9ae6b4;
  --fjorm-color-green-400: #68d391;
  --fjorm-color-green-500: #48bb78;
  --fjorm-color-green-600: #38a169;
  --fjorm-color-green-700: #2f855a;
  --fjorm-color-green-800: #276749;
  --fjorm-color-green-900: #22543d;

  /* Teals */
  --fjorm-color-teal-100: #e6fffa;
  --fjorm-color-teal-200: #b2f5ea;
  --fjorm-color-teal-300: #81e6d9;
  --fjorm-color-teal-400: #4fd1c5;
  --fjorm-color-teal-500: #38b2ac;
  --fjorm-color-teal-600: #319795;
  --fjorm-color-teal-700: #2c7a7b;
  --fjorm-color-teal-800: #285e61;
  --fjorm-color-teal-900: #234e52;

  /* Blues */
  --fjorm-color-blue-100: #ebf8ff;
  --fjorm-color-blue-200: #bee3f8;
  --fjorm-color-blue-300: #90cdf4;
  --fjorm-color-blue-400: #63b3ed;
  --fjorm-color-blue-500: #4299e1;
  --fjorm-color-blue-600: #3182ce;
  --fjorm-color-blue-700: #2b6cb0;
  --fjorm-color-blue-800: #2c5282;
  --fjorm-color-blue-900: #2a4365;

  /* Indigos */
  --fjorm-color-indigo-100: #ebf4ff;
  --fjorm-color-indigo-200: #c3dafe;
  --fjorm-color-indigo-300: #a3bffa;
  --fjorm-color-indigo-400: #7f9cf5;
  --fjorm-color-indigo-500: #667eea;
  --fjorm-color-indigo-600: #5a67d8;
  --fjorm-color-indigo-700: #4c51bf;
  --fjorm-color-indigo-800: #434190;
  --fjorm-color-indigo-900: #3c366b;

  /* Purples */
  --fjorm-color-purple-100: #faf5ff;
  --fjorm-color-purple-200: #e9d8fd;
  --fjorm-color-purple-300: #d6bcfa;
  --fjorm-color-purple-400: #b794f4;
  --fjorm-color-purple-500: #9f7aea;
  --fjorm-color-purple-600: #805ad5;
  --fjorm-color-purple-700: #6b46c1;
  --fjorm-color-purple-800: #553c9a;
  --fjorm-color-purple-900: #44337a;

  /* Pinks */
  --fjorm-color-pink-100: #fff5f7;
  --fjorm-color-pink-200: #fed7e2;
  --fjorm-color-pink-300: #fbb6ce;
  --fjorm-color-pink-400: #f687b3;
  --fjorm-color-pink-500: #ed64a6;
  --fjorm-color-pink-600: #d53f8c;
  --fjorm-color-pink-700: #b83280;
  --fjorm-color-pink-800: #97266d;
  --fjorm-color-pink-900: #702459;


  /* -------------- SPACING -------------- */

  /* Pixel Widths */
  --fjorm-width-0: 0;
  --fjorm-width-1: 1px;
  --fjorm-width-2: 2px;
  --fjorm-width-4: 4px;
  --fjorm-width-8: 8px;

  /* Spacings */
  --fjorm-spacing: 0.3rem;
  --fjorm-spacing-0: 0;
  --fjorm-spacing-1: calc(var(--fjorm-spacing) * 1);
  --fjorm-spacing-2: calc(var(--fjorm-spacing) * 2);
  --fjorm-spacing-3: calc(var(--fjorm-spacing) * 3);
  --fjorm-spacing-4: calc(var(--fjorm-spacing) * 4);
  --fjorm-spacing-5: calc(var(--fjorm-spacing) * 5);
  --fjorm-spacing-6: calc(var(--fjorm-spacing) * 6);
  --fjorm-spacing-8: calc(var(--fjorm-spacing) * 8);
  --fjorm-spacing-10: calc(var(--fjorm-spacing) * 10);
  --fjorm-spacing-12: calc(var(--fjorm-spacing) * 12);
  --fjorm-spacing-16: calc(var(--fjorm-spacing) * 16);
  --fjorm-spacing-20: calc(var(--fjorm-spacing) * 20);
  --fjorm-spacing-24: calc(var(--fjorm-spacing) * 24);
  --fjorm-spacing-32: calc(var(--fjorm-spacing) * 32);
  --fjorm-spacing-40: calc(var(--fjorm-spacing) * 40);
  --fjorm-spacing-48: calc(var(--fjorm-spacing) * 48);
  --fjorm-spacing-56: calc(var(--fjorm-spacing) * 56);
  --fjorm-spacing-64: calc(var(--fjorm-spacing) * 64);

  /* Columns */

  --fjorm-column-1-12: 8.333333%;
  --fjorm-column-2-12: 16.666667%;
  --fjorm-column-3-12: 25%;
  --fjorm-column-4-12: 33.333333%;
  --fjorm-column-5-12: 41.666667%;
  --fjorm-column-6-12: 50%;
  --fjorm-column-7-12: 58.333333%;
  --fjorm-column-8-12: 66.666667%;
  --fjorm-column-9-12: 75%;
  --fjorm-column-10-12:  83.333333%;
  --fjorm-column-11-12:  91.666667%;
  --fjorm-column-full:  100%;

  /* Border Radius */
  --fjorm-border-radius-none: 0;
  --fjorm-border-radius-sm: 0.125rem;
  --fjorm-border-radius-default: 0.25rem;
  --fjorm-border-radius-md: 0.375rem;
  --fjorm-border-radius-lg: 0.5rem;
  --fjorm-border-radius-full: 9999px;

  /* Font Weight */
  --fjorm-font-weight-hairline: 100;
  --fjorm-font-weight-thin: 200;
  --fjorm-font-weight-light: 300;
  --fjorm-font-weight-normal: 400;
  --fjorm-font-weight-medium: 500;
  --fjorm-font-weight-semibold: 600;
  --fjorm-font-weight-bold: 700;
  --fjorm-font-weight-extrabold: 800;
  --fjorm-font-weight-black: 900;

  --fjorm-font-family: "PT Sans", sans-serif;

  /* -------------- BRAND COLORS -------------- */

  /* Primary */
  --fjorm-primary-color: var(--fjorm-color-orange-600);
  --fjorm-primary-color-darker: var(--fjorm-color-orange-700);
  --fjorm-primary-color-lighter: var(--fjorm-color-orange-500);

  /* Secondary */
  --fjorm-secondary-color: var(--fjorm-color-teal-800);
  --fjorm-secondary-color-darker: var(--fjorm-color-teal-900);
  --fjorm-secondary-color-lighter: var(--fjorm-color-teal-500);

  /* Success */
  --fjorm-success-color: var(--fjorm-color-green-600);
  --fjorm-success-color-darker: var(--fjorm-color-green-700);
  --fjorm-success-color-lighter: var(--fjorm-color-green-500);

  /* Danger */
  --fjorm-danger-color: var(--fjorm-color-red-700);
  --fjorm-danger-color-darker: var(--fjorm-color-red-800);
  --fjorm-danger-color-lighter: var(--fjorm-color-red-600);

  /* Warning */
  --fjorm-warning-color: var(--fjorm-color-orange-500);
  --fjorm-warning-color-darker: var(--fjorm-color-orange-600);
  --fjorm-warning-color-lighter: var(--fjorm-color-orange-400);

  /* -------------- BORDERS -------------- */

  --fjorm-border-radius: var(--fjorm-border-radius-sm);
  --fjorm-border-style: solid;
  --fjorm-border-width: var(--fjorm-spacing-0);

  /* -------------- TYPOGRAPHY -------------- */

  --fjorm-font-size: 1em;
  --fjorm-font-size-small: 0.8em;
  --fjorm-font-size-large: 1.3em;
  --fjorm-line-height: 1.2em;
  --fjorm-line-height-small: 1em;
  --fjorm-line-height-large: 1.4em;

  /* ---------------------------- ATOMS ---------------------------- */

  /* -------------- LABEL -------------- */

  --fjorm-label-font-size: var(--fjorm-font-size);
  --fjorm-label-font-weight: var(--fjorm-font-weight-bold);
  --fjorm-label-font-family: var(--fjorm-font-family);
  --fjorm-label-padding: var(--fjorm-spacing-0);
  --fjorm-label-margin: var(--fjorm-spacing-1) var(--fjorm-spacing-0) var(--fjorm-spacing-2) var(--fjorm-spacing-0);
  --fjorm-label-color: var(--fjorm-secondary-color);

  --fjorm-label-optional-font-size: var(--fjorm-font-size-small);
  --fjorm-label-optional-font-weight: var(--fjorm-font-weight-medium);
  --fjorm-label-optional-color: var(--fjorm-secondary-color-lighter);

  /* -------------- HINT -------------- */

  --fjorm-hint-font-size: var(--fjorm-font-size-small);
  --fjorm-hint-font-weight: var(--fjorm-font-weight-light);
  --fjorm-hint-font-family: var(--fjorm-font-family);
  --fjorm-hint-padding: var(--fjorm-spacing-0);
  --fjorm-hint-margin: var(--fjorm-spacing-1) var(--fjorm-spacing-0) var(--fjorm-spacing-2) var(--fjorm-spacing-0);
  --fjorm-hint-color: var(--fjorm-color-gray-500);

  /* -------------- INPUT -------------- */

  --fjorm-input-container-margin: var(--fjorm-spacing-1) var(--fjorm-spacing-0) var(--fjorm-spacing-2) var(--fjorm-spacing-0);
  --fjorm-input-font-size: var(--fjorm-font-size);
  --fjorm-input-font-family: var(--fjorm-font-family);
  --fjorm-input-padding: var(--fjorm-spacing-2) var(--fjorm-spacing-3);
  --fjorm-input-margin: var(--fjorm-spacing-1) var(--fjorm-spacing-0) var(--fjorm-spacing-2) var(--fjorm-spacing-0);
  --fjorm-input-color: var(--fjorm-color-black);  
  --fjorm-input-border: var(--fjorm-width-2) var(--fjorm-border-style) var(--fjorm-secondary-color);
  --fjorm-input-border-radius: var(--fjorm-border-radius);
  --fjorm-input-placeholder-color: var(--fjorm-color-gray-300);
  --fjorm-input-background: var(--fjorm-color-gray-100);

  /* -------------- BUTTON -------------- */
  

}

