:host {
  display: block;
}

.hint {
  font-size: var(--fjorm-hint-font-size);
  font-family: var(--fjorm-hint-font-family);
  font-weight: var(--fjorm-hint-font-weight);
  padding: var(--fjorm-hint-padding);
  margin: var(--fjorm-hint-margin);
  color: var(--fjorm-hint-color);
}