:host {
  display: block;
}

.label {
  font-size: var(--fjorm-label-font-size);
  font-family: var(--fjorm-label-font-family);
  font-weight: var(--fjorm-label-font-weight);
  padding: var(--fjorm-label-padding);
  margin: var(--fjorm-label-margin);
  color: var(--fjorm-label-color);
}

.label__optional {
  font-size: var(--fjorm-label-optional-font-size);
  font-weight: var(--fjorm-label-optional-font-weight);
  color: var(--fjorm-label-optional-color);
}