:host {
  display: block;
}
input[type=text] {
  box-sizing: border-box;  
  width: 100%;
  font-size: var(--fjorm-input-font-size);
  font-family: var(--fjorm-input-font-family);
  padding: var(--fjorm-input-padding);
  margin: var(--fjorm-input-margin);
  color: var(--fjorm-input-color);
  border: var(--fjorm-input-border);
  border-radius: var(--fjorm-input-border-radius);
  background: var(--fjorm-input-background);
}

input[type=text]::-webkit-input-placeholder {
  color: var(--fjorm-input-placeholder-color);
}
